a {
	text-decoration: none !important;
}

.nav-link {
	color: #fff !important;
	font-weight: bold;
}

.text-color-primary {
	color: #3E6D81;
}

.bg-color-primary {
	background-color: #3E6D81;
}

.text-color-secondary {
	color: #CA6035;
}

.bg-color-secondary {
	background-color: #CA6035;
}

.content {
	font-weight: bold;
	font-size: 20px;
}

.swiper{
	width: 90%;
	margin-top: -90px;
}

.swiper-button-next, .swiper-button-prev{
	opacity: 0.7;
	color: white;
	transition: all 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover{
	opacity: 1;
	color: white;
}

.card{
	/* position: relative; */
	background: #fff;
	box-shadow: 0px 0px 8px 3px rgba(0,0,0,0.10);
	margin: 20px 0;
}

.welcome-text {
	font-size: 50px;
	font-weight: bold;
}

/* .footer {
	position: fixed;
left: 0;
bottom: 0;
width: 100%;
background-color: white;
color: white;
text-align: center;
} */
/* .card::before{
	content: "";
	position: absolute;
	height: 40%;
	width: 100%;
	background: #7d2ae8;
	border-radius: 20px 20px 0 0;
} */

.card .card-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 30px;
	position: relative;
	z-index: 100;
}

.flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.Timeline {
	display: flex;
	align-items: center;
	width: 100%;
}
  
.event1 {
	position: relative;
}
  
.timeline-text {
	text-align: center;
	/* border: 1px solid black; */
	width: 150px;
	position: absolute;
	font-size: 12px;
	margin-left: -15px;
	color: black;
}

.paragraph-responsive {
	font-size: 16px;
}

.hidden-items {
	display: block;
}

.heading-responsive {
	font-size: 40px;
}

.centered-button {
	display: flex;
	justify-content: left;
	align-items: left;
}

.footer-padding {
	padding: 5%;
	text-decoration: none; 
	font-size: 15px
}

a {
	color: black; 
}

.img-responsive {
	width: 100%;
}

.heading-size {
	font-size: 25px;
}

@media screen and (max-width: 600px) {
	.welcome-text {
		font-size: 30px;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 15px;
	}

	.heading-responsive {
		font-size: 25px;
		text-align: center;
		margin-bottom: 20px;
	}

	.paragraph-responsive {
		font-size: 13px;
		text-align: center;
	}

	.hidden-items {
		display: none;
	}

	.reverse {
		flex-direction: column-reverse;
	}

	.centered-button {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.footer-padding {
		font-size: 13px;
		padding: 1%;
		padding-top: 5%;
	}

	.img-responsive {
		width: 60%;
		margin: 0 auto;
	}

	.heading-size {
		font-size: 20px;
		text-align: center;
		margin-top: 20px;
		margin-bottom: 20px;
	}
}